<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin.goods">

	<select id="selectListGoods" resultType="GoodsDto">
		SELECT
				*
		FROM
				GOODS
	</select>
	
	<insert id="insertGoods" parameterType="GoodsDto">
		INSERT INTO
				GOODS (
   					 GOODS_NM,
   					 PRICE,
   					 TASTE,
   					 EXPIRY_DATE,
   					 CAPACITY,
   					 DISCOUNT_RATE,
   					 STOCK,
   					 BRAND,
   					 SORT,
   					 POINT,
   					 DELIVERY_PRICE,
   					 `EXPLAIN`,
   					 GOODS_FILE_NAME,
   					 ENROLL_DT
				)
		VALUES (
					#{goodsNm},
				    #{price},
					#{taste},
					#{expiryDate},
					#{capacity},
					#{discountRate},
					#{stock},
					#{brand},
					#{sort},
					#{point},
					#{deliveryPrice},
					#{explain},
					#{goodsFileName},
					NOW()
		)
	</insert>

</mapper>