<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin.member">
	
	<select id="selectAdminLogin" parameterType="AdminDto" resultType="AdminDto">
		SELECT
				*
		FROM
				ADMIN
		WHERE
				ADMIN_ID = #{adminId} AND PASSWD = #{passwd}
	</select>
	
	<select id="selectListMember" resultType="MemberDto">
		SELECT
				*
		FROM
				MEMBER
	</select>
	
</mapper>