<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myPage">
	
	<select id="selectOneMyInfo" parameterType="String" resultType="MemberDto">
		SELECT
				*
		FROM
				MEMBER
		WHERE
				MEMBER_ID = #{memberId}
	</select>
	
	<update id="updateMyInfo" parameterType="MemberDto">
		UPDATE
				MEMBER
		<set>
			<if test='memberNm != null and memberNm != ""'>
				MEMBER_NM = #{memberNm},
			</if>
			<if test='memberNm != null and memberNm != ""'>
				DATE_BIRTH = #{dateBirth},
			</if>
			<if test='memberNm != null and memberNm != ""'>
				GENDER = #{gender},
			</if>
			<if test='memberNm != null and memberNm != ""'>
				HP = #{hp},
			</if>
			<if test='memberNm != null and memberNm != ""'>
				SMSSTS_YN = #{smsstsYn},
			</if>
			<if test='memberNm != null and memberNm != ""'>
				EMAIL = #{email},
			</if>
			<if test='memberNm != null and memberNm != ""'>
				EMAILSTS_YN = #{emailstsYn},
			</if>
			<if test='memberNm != null and memberNm != ""'>
				POSTAL_CODE = #{postalCode},
			</if>
			<if test='memberNm != null and memberNm != ""'>
				ROAD_ADDRESS = #{roadAddress},
			</if>
			<if test='memberNm != null and memberNm != ""'>
				PARCEL_ADDRESS = #{parcelAddress},
			</if>
			<if test='memberNm != null and memberNm != ""'>
				REST_ADDRESS = #{restAddress},
			</if>
		</set>
		WHERE
				MEMBER_ID = #{memberId}
	</update>
	
	<delete id="deleteMember" parameterType="String">
		DELETE FROM
				MEMBER
		WHERE
				MEMBER_ID = #{memberId}
	</delete>
	
	<select id="selectOneDuplicatedCart" parameterType="CartDto" resultType="CartDto">
		SELECT
				*
		FROM
				CART
		WHERE
				MEMBER_ID = #{memberId} AND
				GOODS_CD = #{goodsCd}
	</select>
	
	<insert id="insertCart" parameterType="CartDto">
		INSERT INTO
			CART (GOODS_CD,
				  CART_GOODS_QTY,
				  MEMBER_ID,
				  ENROLL_DT
		)
		VALUES (
				#{goodsCd},
				#{cartGoodsQty},
				#{memberId},
				NOW()
		)
	</insert>
	
	<resultMap type="hashmap" id="cartMap">
		<result column="CART_CD"		 property="cartCd" />
		<result column="MEMBER_ID"		 property="memberId" />
		<result column="CART_GOODS_QTY"	 property="cartGoodsQty" />
		<result column="ENROLL_DT"		 property="enrollDt" />
		<result column="GOODS_CD"		 property="goodsCd" />
		<result column="GOODS_NM"		 property="goodsNm" />
		<result column="PRICE"			 property="price" />
		<result column="BRAND"			 property="brand" />
		<result column="DISCOUNT_RATE"	 property="discountRate" />
		<result column="POINT"			 property="point" />
		<result column="GOODS_FILE_NAME" property="goodsFileName" />
	</resultMap>
	
	<select id="selctListMyCart" parameterType="String" resultMap="cartMap">
		SELECT
				C.CART_CD	  	   AS CART_CD,
				C.MEMBER_ID        AS MEMBER_ID,
				C.CART_GOODS_QTY   AS CART_GOODS_QTY,
				C.ENROLL_DT		   AS ENROLL_DT,
				G.GOODS_CD  	   AS GOODS_CD,
				G.GOODS_NM		   AS GOODS_NM,
				G.PRICE    		   AS PRICE,
				G.BRAND    	   	   AS BRAND,
				G.DISCOUNT_RATE    AS DISCOUNT_RATE,
				G.POINT			   AS POINT,
				G.GOODS_FILE_NAME  AS GOODS_FILE_NAME
		FROM
				CART C
		  JOIN GOODS G
		  		  ON C.GOODS_CD = G.GOODS_CD
		WHERE
				C.MEMBER_ID = #{memberId}
		ORDER BY
				C.ENROLL_DT DESC
	</select>
	
	<delete id="deleteCart">
		DELETE FROM
				CART
		WHERE
				CART_CD IN
		<foreach collection="array" item="cartCd" separator="," open="(" close=")">
			#{cartCd}
		</foreach>
	</delete>
	
	<update id="updateCartGoodsQty" parameterType="hashmap">
		UPDATE
				CART
		SET
				CART_GOODS_QTY = #{cartGoodsQty}
		WHERE
				CART_CD = #{cartCd}
	
	</update>
	
	<resultMap type="hashmap" id="myOrderListMap">
		<result column="ORDER_CD" 		 property="orderCd"/>
		<result column="MEMBER_ID" 		 property="memberId"/>
		<result column="ORDER_GOODS_QTY" property="orderGoodsQty"/>
		<result column="PAYMENT_AMT" 	 property="paymentAmt"/>
		<result column="PAY_ORDER_TIME"  property="payOrderTime"/>
		<result column="GOODS_CD" 		 property="goodsCd"/>
		<result column="GOODS_NM" 		 property="goodsNm"/>
		<result column="PRICE" 		 	 property="price"/>
		<result column="GOODS_FILE_NAME" property="goodsFileName"/>
	</resultMap>
	
	<select id="selectListMyOrder" parameterType="String" resultMap="myOrderListMap">
		SELECT
				O.ORDER_CD 		  	AS ORDER_CD,
				O.MEMBER_ID			AS MEMBER_ID,
		        O.ORDER_GOODS_QTY 	AS ORDER_GOODS_QTY,
		        O.PAYMENT_AMT 		AS PAYMENT_AMT,
		        O.PAY_ORDER_TIME  	AS PAY_ORDER_TIME,
		        G.GOODS_CD  	  	AS GOODS_CD,
		        G.GOODS_NM  	  	AS GOODS_NM,
		        G.PRICE				AS PRICE,
		        G.GOODS_FILE_NAME 	AS GOODS_FILE_NAME
		FROM
				`ORDER` O
			 JOIN GOODS G
					 ON O.GOODS_CD = G.GOODS_CD
					AND O.MEMBER_ID = #{memberId}
	</select>
	
	
	<resultMap type="hashmap" id="myOrderDetailMap">
		<result column="ORDER_CD" 		 	property="orderCd"/>
		<result column="ORDER_GOODS_QTY" 	property="orderGoodsQty"/>
		<result column="PAYMENT_AMT" 		property="paymentAmt"/>
		<result column="ORDERER_NM"  		property="ordererNm"/>
		<result column="ORDERER_HP" 		property="ordererHp"/>
		<result column="RECEIVER_NM" 		property="receiverNm"/>
		<result column="RECEIVER_HP" 		property="receiverHp"/>
		<result column="POSTAL_CODE" 		property="postalCode"/>
		<result column="ROAD_ADDRESS" 		property="roadAddress"/>
		<result column="PARCEL_ADDRESS" 	property="parcelAddress"/>
		<result column="REST_ADDRESS" 		property="restAddress"/>
		<result column="DELIVERY_METHOD" 	property="deliveryMethod"/>
		<result column="DELIVERY_MESSAGE" 	property="deliveryMessage"/>
		<result column="PAY_METHOD" 		property="payMethod"/>
		<result column="PAY_ORDERER_HP" 	property="payOrdererHp"/>
		<result column="PAY_ORDER_TIME" 	property="payOrderTime"/>
		<result column="CARD_COMPANY_NM" 	property="cardCompanyNm"/>
		<result column="CARD_PAY_MONTH" 	property="cardPayMonth"/>
		<result column="DELIVERY_STATUS" 	property="deliveryStatus"/>
		<result column="GOODS_CD" 			property="goodsCd"/>
		<result column="GOODS_NM" 			property="goodsNm"/>
		<result column="PRICE" 				property="price"/>
		<result column="DISCOUNT_RATE" 		property="discountRate"/>
		<result column="POINT" 				property="point"/>
		<result column="GODOS_FILE_NAME"	property="goodsFileName"/>
		<result column="BRAND"				property="brand"/>
	</resultMap>
	
	<select id="selectOneMyOrder" parameterType="hashmap" resultMap="myOrderDetailMap">
		SELECT
				O.ORDER_CD		   AS ORDER_CD,
		        O.ORDER_GOODS_QTY  AS ORDER_GOODS_QTY,
		        O.PAYMENT_AMT 	   AS PAYMENT_AMT,
		        O.ORDERER_NM	   AS ORDERER_NM,
		        O.ORDERER_HP 	   AS ORDERER_HP,
		        O.RECEIVER_NM 	   AS RECEIVER_NM,
		        O.RECEIVER_HP 	   AS RECEIVER_HP,
		        O.POSTAL_CODE 	   AS POSTAL_CODE,
		        O.ROAD_ADDRESS     AS ROAD_ADDRESS,
		        O.PARCEL_ADDRESS   AS PARCEL_ADDRESS,
		        O.REST_ADDRESS     AS REST_ADDRESS,
		        O.DELIVERY_METHOD  AS DELIVERY_METHOD,
		        O.DELIVERY_MESSAGE AS DELIVERY_MESSAGE,
		        O.PAY_METHOD 	   AS PAY_METHOD,
		        O.PAY_ORDERER_HP   AS PAY_ORDERER_HP,
		        O.PAY_ORDER_TIME   AS PAY_ORDER_TIME,
		        O.CARD_COMPANY_NM  AS CARD_COMPANY_NM,
		        O.CARD_PAY_MONTH   AS CARD_PAY_MONTH,
		        O.DELIVERY_STATUS  AS DELIVERY_STATUS,
		        G.GOODS_CD 		   AS GOODS_CD,
		        G.GOODS_NM 		   AS GOODS_NM,
		        G.PRICE 		   AS PRICE,
		        G.DISCOUNT_RATE    AS DISCOUNT_RATE,
		        G.POINT 		   AS POINT,
		        G.GOODS_FILE_NAME  AS GODOS_FILE_NAME,
		        G.BRAND			   AS BRAND
		FROM
				`ORDER` O
			JOIN MEMBER M
					 ON M.MEMBER_ID = O.MEMBER_ID
					AND M.MEMBER_ID = #{memberId}
		     JOIN GOODS G
					 ON G.GOODS_CD = O.GOODS_CD
					AND O.ORDER_CD = #{orderCd}
	</select>
	
	<select id="selectCountMyCart" parameterType="String" resultType="Integer">
		SELECT
				COUNT(*)
		FROM
				CART
		WHERE
				MEMBER_ID = #{memberId}
	</select>
	
</mapper>











