<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.spring.csms.member.dto.MemberDto"		  alias="MemberDto"/>
		<typeAlias type="com.spring.csms.admin.member.dto.AdminDto"   alias="AdminDto" />
		<typeAlias type="com.spring.csms.goods.dto.GoodsDto" 		  alias="GoodsDto"/>
		<typeAlias type="com.spring.csms.myPage.dto.CartDto" 		  alias="CartDto"/>
		<typeAlias type="com.spring.csms.order.dto.OrderDto" 		  alias="OrderDto"/>
		<typeAlias type="com.spring.csms.common.dto.ContactDto" 	  alias="ContactDto"/>
		<typeAlias type="com.spring.csms.review.dto.ReviewDto" 		  alias="ReviewDto"/>
	</typeAliases>
	
</configuration>